/* RESET */
* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* GENERAL */

.container {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%
}





/* MAIN */







/*  FOOTER */

.footer-container {
    height: 80px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white
}

.left-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.song-container > :first-child {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.song-container div {
    padding: 5px;
}

.middle-footer-container {
    text-align: center;
}

.middle-footer-container i {
    margin-right: 10px;
}

.track-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-section div {
    margin-right: 20px;
}

.time-line-song {
    text-align: center;
    width: 250px;
    height: 5px;
    background-color: lightslategray;
    border-radius: 5px;
    position: relative;
}

.time-line-song div {
    width: 30%;
    height: 5%;
    background-color: white;
    position: absolute;
}