/* RESET */
* {
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* GENERAL */

.container {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%
}

.icons-margin i {
    margin-right: 10px;
}





/* MAIN */

/*  GENERAL MAIN */

.main-container {
    display: flex;
    width: 100vw;
    height: calc( 100vh - 80px );
}

.home-page-spotify {
    width: 200px;
    height: 100%;
    background-color: black;
}

.header-main-and-playlist-page {
    position: relative;
    background-color: rgb(24, 31, 49);
    overflow: auto;
}

/*  HEADER MAIN  */

.header-main {
    width: calc(100vw - 200px);
    position: fixed;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.939);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-main a {
    background-color: transparent;
    padding: 8px 30px;
    border: 2px white solid;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

/*  PLAYLIST PAGE height: calc(100% - 80px) */

.playlists-page {
    width: calc(100vw - 200px);
    height: 100%;
    padding: 100px 25px;
    background-color: rgb(24, 31, 49);  
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.categories a {
    text-decoration: none;
    color: rgb(169, 169, 169);
}

.green-line {
    width: 30px;
    height: 3px;
    background-color: rgb(61, 255, 47);
    margin-left: 30px;
}

.recently-played-container h2 {
    color: white;
    margin: 25px 0px 20px;
}

.recently-played-container p {
    color: rgb(169, 169, 169);
    margin-bottom: 20px;
}

.albums-flex {
    display: flex;
}

.recently-played-albums {
    width: calc(( 100% / 6 ) - 15px );
    margin-right: 15px;
}

.recently-played-albums h4 {
    color: white;
    text-align: center;
    padding: 5px 0px;
}

.recently-played-albums h6 {
    color: rgb(169, 169, 169);
    text-align: center;
}

.round-img {
    object-fit: cover;
    border-radius: 50%;
}


/*  HOME PAGE CONTAINER */

.logo-container {
    width: 150px;
    height: 50px;
    margin: 15px 10px;
    
}

.logo-container > :first-child {
    display: none;
}

.home-section div {
    display: flex;
}

.home-section h5 {
    color: rgb(169, 169, 169);
    margin-left: 5px;
    margin-bottom: 10px;
}

.home-section i {
    margin-left: 10px;
    margin-bottom: 10px;
}

.crea-playlist {
    display: flex;
    margin-left: 10px;
}

.crea-playlist h4 {
    color: rgb(169, 169, 169);
    margin-left: 5px;
}

.nome-playlist {
    color: rgb(169, 169, 169);
}

.nome-playlist h5 {
    margin: 10px;
}

.footer-home-section {
    position: relative;
}

.installa-app-flex {
    display: flex;
    position: absolute;
    top: 200px;
}

.installa-app-flex h5 {
    color: rgb(169, 169, 169);
    margin-left: 5px;
}

.installa-app-flex i {
    margin-left: 10px;
}

hr {
    position: absolute;
    top: 225px;
    background-color: rgb(169, 169, 169);
    margin-left: 10px;
    width: 130px;
}

.account-flex {
    display: flex;
    position: absolute;
    top: 240px;
    color: rgb(169, 169, 169);
    margin-left: 10px;
}

.account-flex h4 {
    margin-left: 5px;
}


/*  FOOTER */

.footer-container {
    height: 80px;
    padding: 10px;
    background-color: rgb(47, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white
}

.left-footer-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-container > :first-child {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.song-container div {
    padding: 5px;
}

.middle-footer-container {
    width: 40%;
    text-align: center;
}

.middle-footer-container i {
    margin-right: 10px;
}

.track-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.track-section div {
    margin-right: 20px;
}

.time-line-song {
    text-align: center;
    width: 200px;
    height: 5px;
    background-color: lightslategray;
    border-radius: 5px;
    
}

.minutes-listened {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

.minutes-listened .pallina {
    display: none;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -2.5px;
    right: -20px;
}


.right-footer-container {
    width: 20%;
    display: flex;
    align-items: center;
}

.icons-margin {
    display: flex;
}

.volume-line {
    text-align: center;
    width: 90px;
    height: 5px;
    background-color: lightslategray;
    border-radius: 5px;
    position: relative;
}

.volume-line div {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    position: absolute;
}




/* TABLET MEDIA QUERY */
@media screen and (max-width: 700px) {

    /* MAIN QUERY */


        /*  GENERAL MAIN */


        /*  HEADER MAIN  */


        /*  PLAYLIST PAGE  <div class="green-line"></div> */

        .categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
        }

        .categories div {
            padding: 4px;
        }

        .albums-flex {
            display: flex;
            flex-wrap: wrap;
        }

        .recently-played-albums {
            width: calc(( 100% / 4 ) - 15px );
            margin-right: 15px;
            margin-bottom: 15px;
        }


        /*  HOME PAGE CONTAINER */



    /*  FOOTER */

    .footer-container {
        display: flex;
        justify-content: space-between;
    }

    .icons-margin-media-query {
        display: block;
        margin-left: 8px;
    }

}






/* MOBILE MEDIA QUERY */
@media screen and (max-width: 600px) { 

    /* MAIN QUERY */

    
        /*  GENERAL MAIN */


        /*  HEADER MAIN  */

        .header-main {
            width: calc(100vw - 50px); }


        /*  PLAYLIST PAGE */

        .playlists-page {
            width: calc(100vw - 50px);
        }

        .albums-flex {
            display: flex;
            flex-wrap: wrap;
        }
    
        .recently-played-albums {
            width: calc(( 100% / 2 ) - 15px );
            margin-right: 15px;
        }


        /*  HOME PAGE CONTAINER */

        .home-page-spotify {
            width: 50px;
        }

        .logo-container {
            width: 50px;
            height: 50px;
            margin: 0px;
            padding: 10px;
        }

        .logo-container > :first-child {
            display: block;
        }

        .no-logo-mobile  {
            display: none;
        }

        .home-section h5  {
            display: none;
        }

        .playlist-section {
            display: none;
        }

        .footer-home-section {
            display: none;
        }



    /*  FOOTER */

} 


    

